<!DOCTYPE html>
<html>
<head>
	<title>Mashable News</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/custom-responsive.css">
	<script src="js/json.js"></script>
	<script src="js/underscore.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<!-- Template -->
	<script type="text/template" id="feedTemplate">
		<div class="entry">
			<a href="<%= link %>" class="title"><%= title %></a>
			<% 
				var d = new Date(publishedDate);
			%>
			<div class="content"><%= content %>
				<p class="note"> <strong>Written By: </strong> <%= author %>, <strong>On: </strong><%= d.toDateString() %></p>
			</div>
			
		</div>
	
	</script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
            	<li>
            		<a class="brand" href="#" style="padding:5px 20px 5px;">
						<img src="img/logo.png" style="width:28px" alt="">
					</a>
            	</li>
				<li class="active">
					<a data-toggle="tab" tabindex="-1" class="newsSource" source="http://feeds.mashable.com/mashable/tech"> 
						Mashable - Tech 
					</a>
				</li>
				<li>
					<a data-toggle="tab" tabindex="-1" class="newsSource" source="http://feeds.mashable.com/mashable/business">
		        		Mashable - Business
		        	</a>
				</li>
				<li>
					<a data-toggle="tab" tabindex="-1" class="newsSource" source="http://feeds.mashable.com/mashable/socialmedia">
		        		Mashable - Social Media
		        	</a>
				</li>
				<li class="divider"></li>
				<li>
					<a data-toggle="tab" tabindex="-1" class="newsSource" source="http://feeds.mashable.com/mashable/video">
		        		Mashable - Videos
		        	</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li><a data-toggle="tab" href="#">Action</a></li>
					  <li><a data-toggle="tab" href="#">Another action</a></li>
					  <li><a data-toggle="tab" href="#">Something else here</a></li>
					  <li class="divider"></li>
					  <li><a data-toggle="tab" href="#">Separated link</a></li>
					</ul>
				</li>
            </ul>
            <form class="navbar-search pull-right" action="">
              <input type="text" class="search-query span2" placeholder="Search">
            </form>
          </div> <!-- /.nav-collapse -->
        </div> <!-- Container -->
      </div> <!-- NavbarInner -->
    </div> <!-- Navbar -->
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3 hidden-phone dark">Sidebar
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ab, amet, error rerum voluptates totam reprehenderit quos quidem eaque earum eligendi officia consequuntur odio vitae dolore deserunt corporis sapiente iste!</span>
					<span>Impedit, cum, vitae, expedita similique soluta quas aut eaque numquam dolore esse nostrum labore recusandae maiores atque libero nemo cupiditate cumque minus ipsa quae sit quaerat animi veniam alias incidunt!</span>
					<span>Natus nostrum eum alias nulla dolores adipisci quia nisi illum repudiandae omnis. Tempore, iste, ad, quos eaque tempora praesentium quia asperiores qui totam atque maiores molestiae autem voluptatem doloremque quas.</span>
					<span>Atque, numquam, enim, est nostrum facilis eaque cumque distinctio inventore deserunt officia amet aliquid quos voluptatibus asperiores recusandae rem tempora. Veniam, in enim voluptates assumenda nostrum nobis excepturi minus neque.</span>
					<span>Temporibus, corporis, voluptates, aspernatur repellat asperiores consectetur consequuntur cupiditate labore obcaecati molestiae voluptatem iste sit debitis et nobis aliquid quos sint tenetur? Sint, est fugit aut rerum sit error quasi!</span>
					<span>At, non, debitis fugit tempora ut qui doloribus repellendus totam odio impedit repudiandae explicabo odit ratione voluptatum autem aliquid temporibus omnis perferendis facere earum. Atque, qui magnam minus sapiente sed.</span>
					<span>Odio, suscipit pariatur quo quos odit mollitia ad quia. Ab, adipisci, delectus, voluptas, voluptates nostrum nam ducimus explicabo minima consequuntur odit aliquam quos tempore at quae rem! Est, accusamus, assumenda.</span>
					<span>Aut, reiciendis, neque, velit, rerum earum repellat quod maiores itaque omnis commodi soluta repudiandae esse deserunt perspiciatis id voluptatum expedita atque doloribus facilis at. Maxime, nulla quis ratione vero nisi.</span>
					<span>Nobis, error, voluptates consequatur iusto placeat molestias est atque architecto rerum reprehenderit? Illo, saepe, alias, illum, unde impedit harum nam beatae blanditiis iusto corporis ipsam necessitatibus quos iure velit dignissimos.</span>
					<span>Deleniti, eaque, temporibus, dolore, odit eveniet magni cupiditate id consequatur ut illum accusamus cumque ipsa facilis assumenda minus nemo placeat qui earum labore minima harum! Eligendi, quod nesciunt alias obcaecati?</span>
					<span>Dignissimos, velit, maiores, impedit minima placeat pariatur quibusdam deserunt quasi aliquid aliquam qui officiis quis? Ipsam, ex, possimus eveniet minus numquam aperiam omnis sapiente rem voluptates ad nobis officia quaerat.</span>
					<span>Quis, ratione, dolorum, nemo, accusamus molestiae excepturi fugiat recusandae rerum non vitae neque ipsum quae. Placeat, sequi, pariatur minus explicabo ab voluptatum praesentium fugit fugiat omnis ea maxime debitis ad.</span>
					<span>Deserunt ad quis nemo sit ratione dolorem asperiores? Soluta, dolorem velit hic quibusdam in deserunt eius iusto ipsum laborum quidem. Sapiente, veniam aut reiciendis explicabo provident aliquid nisi pariatur magni?</span>
					<span>Nihil, quidem, eveniet reiciendis possimus officia odio odit vero ullam corrupti quod laboriosam cupiditate doloremque quae at repellendus enim pariatur quo itaque asperiores iste atque quia porro unde necessitatibus dolorem.</span>
					<span>Sit, animi, quos, hic architecto accusantium vel cupiditate fugiat reprehenderit tempora odio sapiente ipsa! Est, tenetur, id, sunt beatae quia provident cum explicabo expedita deleniti nihil pariatur quae nisi possimus.</span>
					<span>Exercitationem, perferendis sequi eveniet ab odit minus ipsa aliquid doloremque vero ex in autem quasi atque ea nostrum hic minima! Dolore, incidunt, esse recusandae corrupti quibusdam rerum laboriosam perspiciatis. Voluptatum.</span>
					<span>Iure, harum, quibusdam error natus deserunt blanditiis neque molestiae magnam incidunt aliquam. Totam, nihil, hic fugit pariatur aspernatur qui doloremque amet deserunt expedita recusandae ut sed temporibus eos suscipit odio!</span>
					<span>Possimus nobis magnam magni facere! Consequatur, perspiciatis, eveniet, soluta magni delectus tempora numquam qui molestiae asperiores minima cupiditate fuga laborum repellendus debitis pariatur quo esse distinctio modi veniam placeat voluptatum!</span>
					<span>Ab, fugit, suscipit, laudantium, architecto quaerat sapiente ipsum maiores ad voluptatum voluptates possimus iste aperiam optio itaque nemo nihil nisi quasi. Iusto dolor nisi perferendis odio modi cum blanditiis neque.</span>
					<span>Aliquam, eaque, quas, assumenda dolorem tenetur sint enim nostrum officia voluptates rem unde alias aspernatur ad culpa quisquam beatae nihil nulla laudantium molestias illum delectus provident ea quaerat repudiandae autem.</span>
				</p>
			</div>
			<div class="span9 pull-right">
				<h1 class="newsHeading dark">Mashable - Tech</h1>
				<div id="feed">
					
				</div>		
			</div>
		</div>
		
	</div>

	<script type="text/javascript">
		var feedURL = "http://feeds.mashable.com/mashable/tech";
		// Load the feeds library, version 1
		google.load("feeds", "1");
		// Callback function
		function loadFeeds() {
		    // The feed we want to load
		    var feed = new google.feeds.Feed(feedURL);
		    feed.setNumEntries(10);
		    // Load the feed
		    feed.load(function(result) {
		        if (!result.error) {
		            var container = $('#feed');
					var templateString = $('#feedTemplate').html();

		            for (var i = 0; i < result.feed.entries.length; i++) {
		                var entry = result.feed.entries[i];
						var template = _.template(templateString,result.feed.entries[i]);
						container.append(template);
		            }

		            $('iframe').load(function(){
		            	$(this).addClass('img-polaroid').parent().css('margin','0 auto');
		            })

		            $('img').load(function() {
				    	if($(this).attr('src').toString().match("yIl2AUoC8zA")) {
				    		$(this).addClass('smallImage').attr({
				    			src: "img/email.png",
				    			title: "Email this to your friends"
				    		}).parent().parent().css('float','right');

				    	}
				    	else if($(this).attr('src').toString().match("D7DqB2pKExk")) {
				    		$(this).addClass('smallImage').attr({
				    			src: "img/comment.png",
				    			title: "Comment on this post"
				    		});	
				    	}
				    	else if($(this).attr('src').toString().match("7Q72WNTAKBA")
				    		|| $(this).attr('src').toString().match("V_sGLiPBpWU")
				    		|| $(this).attr('src').toString().match("gIN9vFwOqvQ")){
				    		$(this).parent().remove();		
				    	}
				    	else if($(this).attr('src').toString().match("qj6IDK7rITs")){
				    		$(this).addClass('smallImage').attr({
				    			src: "img/facebook.png",
				    			title: "Share this post on facebook"
				    		});
				    	}

			    		if($(this).width() > 150)
					  		$(this).addClass('img-polaroid');
					});

		            var d = $(container).find('img[src*="javascript"], img[alt*="Feed"]');
		            d.remove();		            
		        }
		    })
		}
		 
		// Set the callback function
		google.setOnLoadCallback(loadFeeds);	

		$('.newsSource').click(function(){
			if( feedURL === $(this).attr('source')) return
			feedURL = $(this).attr('source');
			$('.newsHeading').html($(this).html());
			$('.entry').remove();

			loadFeeds();
		});
	</script>
</body>
</html>
